<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"] - Blackjack</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link id="themeStylesheet" rel="stylesheet" href="~/css/dark-theme.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <style>
        body {
            margin: 0;
            background-color: #222; /* Zmiana koloru tła na ciemniejszy */
            color: #fff; /* Zmiana koloru tekstu na jasny */
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #333; /* Dopasowanie koloru prostokąta nawigacyjnego */
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

            nav ul {
                display: flex;
                list-style-type: none;
                padding: 0;
                margin: 0;
            }

            nav li {
                margin-right: 10px;
            }

            nav a {
                display: block;
                padding: 15px;
                text-align: center;
                text-decoration: none;
                color: #fff;
                background-color: inherit;
                border: 1px solid #fff; /* Zmiana koloru obramowania */
                border-radius: 15px;
                transition: background-color 0.3s, color 0.3s;
            }

                nav a:hover,
                nav a.active {
                    background-color: #fff; /* Zmiana koloru podświetlenia na biały */
                    color: #000; /* Zmiana koloru tekstu na ciemny */
                }

                nav a:last-child {
                    margin-right: 0;
                }

        .container {
            margin-top: 80px;
            background-color: #333; /* Dopasowanie koloru tła całej strony */
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }
    </style>
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <ul>
                    <li><a asp-page="/Index" class="@(Context.Request.Path == "/Index" ? "active" : "")">Strona główna</a></li>
                    <li><a asp-page="/Home/SymulatorGry" class="@(Context.Request.Path == "/Home/SymulatorGry" ? "active" : "")">Symulator gry</a></li>
                    <li><a asp-page="/Home/MojeWyniki" class="@(Context.Request.Path == "/Home/MojeWyniki" ? "active" : "")">Moje wyniki</a></li>
                    <li><a asp-page="/Home/Wskazowki" class="@(Context.Request.Path == "/Home/Wskazowki" ? "active" : "")">Wskazówki</a></li>
                    <li><a asp-page="/Home/Poradniki" class="@(Context.Request.Path == "/Home/Poradniki" ? "active" : "")">Poradniki</a></li>
                    <li><a asp-page="/Home/MojProfil" class="@(Context.Request.Path == "/Home/MojProfil" ? "active" : "")">Mój profil</a></li>
                </ul>
            </nav>
        </header>
        <div>
            @RenderBody()
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
